.admin-menu {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #AD7F00;
}

.content {
    max-width: 1000px;
    width: 70%;
    margin-left: 25%;
}

.title {
    color: #3CA6C7;
    margin-bottom: 30px;
}

.title h2 {
    margin-bottom: 10px;
}

.title h4 {
    margin: 0;
}

.form {
    text-align: center;
    margin: 40px auto;
}

.form fieldset {
    border-radius: 5px;
    border: 2px solid #AD7F00;
    margin-bottom: 30px;
}

.form legend {
    color: #AD7F00;
    font-weight: bold;
}

.form p {
    text-align: left;
}

.form label {
    margin: 30px 0;
    display: block;
    position: relative;
}

.form label span {
    font-size: 12px;
    text-transform: uppercase;
}

.form textarea {
    resize: none;
}

.form .button {
    display: block;
    margin: 40px auto 0;
    width: 400px;
    color: #FFF;
    font-size: 15px;
}

.form .input, .form .button, .form .textarea {
    border: none;
    outline: none;
    background: none;
}

.form .input, .form .textarea {
    box-sizing: border-box;
    background: rgba(128, 225, 255, 0.2);
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 0 10px 10px;
    font-size: 16px;
    border-bottom: 2px solid #3CA6C7;
    border-left: 2px solid #3CA6C7;
}

.form .textarea {
    height: 300px;
}

.form .count {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.form .file-upload {
    position: relative;
    width: 100px;
    height: 70px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}

.form .file-upload input[type="file"] {
    display: none;
}

.form .file-upload label {
    cursor: pointer;
    width: 100px;
    height: 70px;
    margin: 0;
    color: #AD7F00;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AD7F00;
    background: rgba(250, 185, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
}

.form .file-upload img {
    width: 100%;
    display: none;
    border-radius: 5px;
}

.form #galery div {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.form .delete-previous, .form .delete-image {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    color: #FFF;
}

.form .delete-previous {
    display: none;
}

.bt {
    text-align: center;
    width: 400px;
    margin-bottom: 30px;
}

.bt a {
    text-decoration: none;
}