.menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu .logo {
    display: flex;
    margin-bottom: 1em;
}

.menu .grid {
    display: grid;
    grid-template-columns: repeat(4, 13px);
    grid-template-rows: repeat(4, 13px);
    width: 50px;
    height: 50px;
}

.menu .grid>div {
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
}

.menu .grid:hover>div {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu .byline {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-between;
    width: calc(60px*2.5);
    font-size: 10px;
}

.menu .byline span {
    position: relative;
    display: block;
}

.menu .red {
    background-image: linear-gradient(45deg, #ab2e33 50%, transparent 50%);
}

.menu .blue {
    background-image: linear-gradient(45deg, #80E1FF 50%, transparent 50%);
}

.menu .yellow {
    background-image: linear-gradient(45deg, #FAB900 50%, transparent 50%);
}

.menu .navy {
    background-image: linear-gradient(45deg, #3CA6C7 50%, transparent 50%);
}

.menu .black {
    background-image: linear-gradient(45deg, #080f33 50%, transparent 50%);
}

.menu .ne {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menu .nw {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu .se {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.menu .right-side, .menu .user-buttons, .menu .user-buttons a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .user-buttons {
    margin-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.menu .user-buttons .avatar {
    width: 40px;
    height: 40px;
    border: 2px solid #3CA6C7;
    border-radius: 50%;
    transition: all 0.5s linear;
    overflow: hidden;
}

.menu .user-buttons .body span {
    color: #3CA6C7;
    margin: 0 10px;
    transition: all 0.2s linear;
    font-weight: bold;
}

.menu .user-buttons .body .avatar img {
    width: 100%;
}

.menu .user-buttons .body:hover span, .menu .user-buttons .close:hover {
    color: #80E1FF;
}

.menu .user-buttons .body:hover .avatar {
    border: 2px solid #80E1FF;
}

.menu .user-buttons .close, .menu .lang {
    color: #AD7F00;
    transition: all 0.5s linear;
    margin-left: 5px;
}

.menu .user-buttons .close:hover, .menu .lang:hover {
    color: #FAB900;
}

.menu-bar {
    margin: 20px 0px 0px 0px;
    padding: 6px 6px 4px 6px;
    height: 40px;
    line-height: 100%;
    position: relative;
}

.menu-bar li {
    margin: 0px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
    position: relative;
    list-style: none;
    display: block;
}

.menu-bar a {
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    color: #F0F0FF;
}

.menu-bar li ul li a {
    margin: 0;
}

.menu-bar .active a, .menu-bar li:hover>a {
    color: #3a383c;
    font-weight: bold;
}

.menu-bar li:hover>ul {
    display: block;
}

.menu-bar ul {
    background: #AD7F00;
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 30px;
    left: 50px;
    border: solid 1px #FAB900;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
    z-index: 100;
}

.menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul a {
    padding: 10px 5px 10px 15px;
}

.menu-bar ul li:first-child>a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-bar ul li:last-child>a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 799px) {
    .menu {
        width: 350px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .admin-menu, .menu .lang {
        display: none;
    }
}