#back-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 50px;
    height: 50px;
    background: rgba(250, 185, 0, 0.2);
    border: 2px solid #AD7F00;
    color: #AD7F00;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: all 0.1s linear;
}

#back-top:hover {
    color: #FAB900;
    background: #AD7F00;
    border: 2px solid #FAB900;
    border-right: none;
}

#back-top div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}