#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 110px;
    right: 0;
    width: 50px;
    height: 50px;
    background: rgba(250, 185, 0, 0.2);
    border: 2px solid #AD7F00;
    color: #AD7F00;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: all 0.1s linear;
}

#cart:hover {
    color: #FAB900;
    background: #AD7F00;
    border: 2px solid #FAB900;
    border-right: none;
}

#cart-main {
    display: none;
    padding: 30px;
    width: 40%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
    overflow-x: hidden;
    background: url('/img/system/corner-right.png') no-repeat 100% #F0F0FF;
    background-size: 65%;
    box-shadow: 0 0.5em 1.5em 1.5em #F0F0FF;
    z-index: 25000;
}

.cart {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 60px;
}

.cart .body {
    border-radius: 3px;
    background: #FFF;
    padding: 30px 100px;
}

.cart .title {
    margin: 0 auto;
    text-align: center;
    color: #3CA6C7;
}

.cart .list {
    margin: 50px auto;
    position: relative;
}

.cart .list li {
    list-style: none;
    margin-bottom: 20px;
}

.cart .list .dot, .cart .list .check {
    position: absolute;
    left: 0;
}

.cart .list .dot {
    color: #3CA6C7;
}

.cart .list .check {
    color: #AD7F00;
}

.cart .list li span {
    margin-right: 10px;
}

.cart .list .inactive {
    display: none;
}

.cart .list .delete {
    font-size: 15px;
    cursor: pointer;
    color: #AD7F00;
    transition: all 0.3s;
}

.cart .list a {
    text-decoration: none;
    color: #3CA6C7;
    transition: all 0.3s;
}

.cart .list a:hover, .cart .list .delete:hover {
    color: #FAB900;
}

.cart .line, .cart .line2 {
    position: relative;
    cursor: pointer;
}

.cart .line:after, .cart .line2:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 9px;
    width: 0;
    height: 2px;
    background-color: #AD7F00;
    content: "";
    transition: width 0.7s;
}

.cart .line2:after {
    width: 100%;
}

.cart .line2 {
    pointer-events: none;
}

.cart .cart-order {
    display: none;
}

.cart .form {
    color: #3CA6C7;
}

.cart .form label {
    position: relative;
}

.cart .form h2 {
    margin-bottom: 10px;
}

.cart .form label {
    display: block;
    width: 400px;
    margin: 25px auto 0;
    text-align: center;
}

.cart .form label span {
    font-size: 12px;
    text-transform: uppercase;
}

.cart .form .payment>span {
    display: block;
    margin-top: 30px;
}

.cart .form .payment label {
    margin: 10px 10px 0;
    display: inline-block;
    width: inherit;
}

.cart .form .input, .cart .form .button {
    border: none;
    outline: none;
    background: none;
}

.cart .form .input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #3CA6C7;
    text-align: center;
}

.cart .form .button {
    display: block;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
    color: white;
    font-size: 15px;
}

.cart .form textarea {
    resize: none;
}

.cart .form a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0 5px;
}

.cart .old-price {
    text-decoration: line-through;
    margin: 0 5px;
}

.cart .notification a {
    text-decoration: none;
    color: #3CA6C7;
    font-weight: bold;
    transition: all 0.5s linear;
}

.cart .notification a:hover {
    color: #80E1FF;
}

#close-cart {
    display: none;
}

@media screen and (max-width: 799px) {
    #cart {
        width: 25px;
        height: 25px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 5px;
        bottom: 80px;
    }
    #cart-main {
        width: 100%;
    }
    #close-cart {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #AD7F00;
        cursor: pointer;
    }
    .cart {
        padding: 0 40px;
    }
    .cart .body {
        padding: 30px 30px;
    }
    .cart .form a {
        margin: 0 auto;
        width: 100%;
    }
    .cart .form label, .cart .form .button {
        width: 100%;
    }
}