.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.footer .menu-list a {
    line-height: 2;
    color: #AD7F00;
    transition: all 0.3s;
}

.footer .menu-list a:hover {
    color: #FAB900;
}

.footer .menu-list ul li:last-child {
    margin-top: 30px;
}

.footer .contacts {
    color: #7A797B;
    font-style: italic;
}

.footer .contacts a {
    color: #7A797B;
    line-height: 2;
}

.footer .contacts ul li:last-child {
    margin-top: 30px;
}

.footer .social ul {
    height: 80px;
}

.footer .social ul li {
    float: left;
    width: 75px;
    height: 70px;
    border: 3px solid #AD7F00;
    margin-right: 36px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s linear;
}

.footer .social ul li:last-child {
    margin-right: 0;
}

.footer .social ul li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #AD7F00;
    font-size: 1.5em;
    transition: all 0.5s linear;
}

.footer .social ul li:hover {
    background: #AD7F00;
    box-shadow: 0 0 30px 3px #FAB900;
}

.footer .social ul li:hover a {
    color: #F0F0FF;
}