.login {
    width: 750px;
    height: 550px;
    margin: 50px auto 0;
}

.login, .login:before, .login:after {
    padding: 0;
}

.login input, .login button {
    border: none;
    outline: none;
    background: none;
}

.login .cont {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 550px;
    background: #fff;
    border-radius: 3px;
}

.login .form {
    position: relative;
    width: 490px;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
    box-sizing: border-box;
    color: #3CA6C7;
}

.login .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 490px;
    top: 0;
    width: 750px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    box-sizing: border-box;
}

.login .cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-490px, 0, 0);
    transform: translate3d(-490px, 0, 0);
}

.login button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
}

.login .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
    box-sizing: border-box;
}

.login .img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 750px;
    height: 100%;
    background-image: url("/img/login_cover.jpg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.login .img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.login .cont.s--signup .img:before {
    -webkit-transform: translate3d(490px, 0, 0);
    transform: translate3d(490px, 0, 0);
}

.login .img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    box-sizing: border-box;
}

.login .img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.login .img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.login .cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
}

.login .img__text.m--in {
    -webkit-transform: translateX(-370px);
    transform: translateX(-370px);
}

.login .cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.login .img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 170px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.login .img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
}

.login .img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.login .img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.login .cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.login .cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

.login h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.login label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

.login label span {
    font-size: 12px;
    color: #3CA6C7;
    text-transform: uppercase;
}

.login input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #3CA6C7;
    text-align: center;
}

.login .sign-in {
    transition-timing-function: ease-out;
}

.login .cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(490px, 0, 0);
    transform: translate3d(490px, 0, 0);
}

.login .sign-up {
    -webkit-transform: translate3d(-750px, 0, 0);
    transform: translate3d(-750px, 0, 0);
}

.login .cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.login .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #fff;
}

.login .index {
    position: relative;
    z-index: 100;
}

.login label {
    position: relative;
}

.login .help {
    position: absolute;
    right: -25px;
    top: 30px;
    cursor: pointer;
}

.login .mob-cont {
    display: none;
}

@media screen and (max-width: 799px) {
    .login {
        width: inherit;
        height: inherit;
        margin: 0 auto;
        padding: 0 40px;
    }
    .login .cont {
        display: none;
    }
    .login h2 {
        position: relative;
        width: 100%;
        margin: 20px auto;
        color: #3CA6C7;
        font-size: 1.2em;
        display: block;
    }
    .login .mob-cont {
        display: block;
        position: relative;
        background: #fff;
        border-radius: 3px;
        padding: 30px;
    }
    .login .help {
        position: absolute;
        right: 50px;
        top: 0;
        cursor: pointer;
        color: #3CA6C7;
    }
    .login .tooltips-top {
        top: 10px;
    }
    .login label {
        width: 100%;
    }
    .login button {
        width: 100%;
    }
    .login form:first-child {
        margin-bottom: 50px;
    }
}