body {
    padding: 0;
    margin: 0;
    background-color: #F0F0FF;
    background: fixed url('/img/system/back.png') center no-repeat #F0F0FF;
    background-size: 100%;
}

header {
    padding: 20px 0;
}

footer {
    height: 100px;
    width: 100%;
    border-top: 2px solid #AD7F00;
    margin-top: 100px;
}

.text {
    color: #7A797B;
    font-size: 1.2em;
    font-family: 'Montserrat Alternates', sans-serif;
}

.format h1, .format h2, .format p {
    line-height: 1.75;
}

.format h1, .format h2 {
    font-weight: 400;
    font-size: 250%;
    line-height: 1.5;
}

.format h1 {
    margin-bottom: 1.5em;
    color: #FAB900;
}

.format h2 {
    margin-top: 2em;
    margin-botttom: 1em;
    color: #3CA6C7;
}

.format p {
    font-weight: 300;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}