.sections {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.sections .filter {
    display: block;
    width: 30%;
    margin-left: 5%;
}

.sections .info {
    display: block;
    width: 65%;
}

.sections .goods {
    margin-bottom: 30px;
    background-color: white;
}