.stories {
    max-width: 1200px;
    margin: 0 auto;
}

.stories .title {
    margin: 50px 0;
    text-align: center;
}

.stories a {
    color: #3CA6C7;
    transition: .5s;
}

.stories .components {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.stories .components .item {
    margin: 10px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.stories .components .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 3px solid #3CA6C7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.stories .components .image-width img {
    width: 100%;
}

.stories .components .image-height img {
    height: 100%;
}

.stories a:hover {
    color: #AD7F00;
}

.stories a:hover .image {
    border: 3px solid #AD7F00;
}

.stories-view {
    max-width: 750px;
    margin: 0 auto;
}

.stories-view .body {
    border-radius: 3px;
    background: #FFF;
    padding: 30px;
}

.stories-view .title {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3CA6C7;
    width: 500px;
}

.stories-view .title .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 3px solid #3CA6C7;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories-view .title .avatar-width img {
    width: 100%;
}

.stories-view .title .avatar-height img {
    height: 100%;
}

.stories-view .main {
    width: 500px;
    margin: 30px auto;
    text-align: justify;
}

.stories-view .thumbs, .stories-view .panel {
    width: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stories-view .panel div {
    font-size: 20px;
    color: #3CA6C7;
    margin: 0 30px;
}

.stories-view .like {
    cursor: pointer;
}

.stories-view .like-off {
    display: none;
}

.stories-view .like:hover span, .stories-view .like-active, .stories-view .like-number-active {
    color: #FAB900 !important;
}

.stories-view .thumbs a {
    width: 150px;
    height: 150px;
    margin: 15px;
    display: inline-block;
    border: 3px solid #3CA6C7;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.stories-view .panel {
    height: 50px;
    border-top: 1px solid #3CA6C7;
    border-bottom: 1px solid #3CA6C7;
    border-radius: 10px;
}

.stories-view .form {
    width: 500px;
    margin: 0 auto;
    color: #3CA6C7;
}

.stories-view .form textarea {
    resize: none;
}

.stories-view .form label {
    display: block;
    width: 500px;
    margin: 25px auto 0;
    text-align: center;
    position: relative;
}

.stories-view .form label span {
    font-size: 12px;
    text-transform: uppercase;
}

.stories-view .form .input, .stories-view .form .button {
    border: none;
    outline: none;
    background: none;
}

.stories-view .form .input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #3CA6C7;
    text-align: center;
}

.stories-view .form .button {
    width: 500px;
    margin-top: 40px;
    color: white;
    font-size: 15px;
}

.stories-view .form .count {
    display: none;
    position: absolute;
    right: -25px;
    top: 60px;
}

.stories-view .messages {
    max-width: 500px;
    max-height: 600px;
    margin: 30px auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.stories-view .messages .container {
    display: flex;
    justify-content: space-between;
    clear: both;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3CA6C7;
}

.stories-view .messages .container .panels {
    border-top: 1px solid #80E1FF;
}

.stories-view .messages .container .panels div {
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
}

.stories-view .messages .container .panels span {
    font-size: 13px;
}

.stories-view .messages .container .panels .answ:hover {
    text-decoration: underline;
    color: #80E1FF;
}

.stories-view .answers {
    width: 70%;
    float: right;
    display: none;
    position: relative;
}

.stories-view .answers .count-answ {
    display: none;
    position: absolute;
    right: 10px;
    top: 0;
}

.stories-view .form-answ form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    margin: 0 5px 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3CA6C7;
    text-align: left;
}

.stories-view .form-answ textarea {
    width: 100%;
    resize: none;
    border: 1px solid #80E1FF;
    outline: none;
    padding: 10px;
    border-radius: 4px;
}

.stories-view .form-answ .button {
    border: none;
    outline: none;
    background: none;
    color: #FFF;
    cursor: pointer;
}

.stories-view .messages .avt {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
}

.stories-view .messages .avt img {
    width: 100%;
}

.stories-view .messages span {
    color: #80E1FF;
    font-size: 11px;
}

.stories-view .messages p {
    color: white;
    font-size: 14px;
}

.stories-view .notification {
    text-align: center;
}

.stories-view .notification a {
    text-decoration: none;
    color: #3CA6C7;
    font-weight: bold;
    transition: all 0.5s linear;
}

.stories-view .notification a:hover {
    color: #80E1FF;
}