.user {
    max-width: 1200px;
    margin: 0 auto;
}

.user .container {
    display: flex;
    align-items: flex-start;
}

.user .menu {
    position: sticky;
    top: 0;
    width: 20%;
    border-right: 2px solid #AD7F00;
    text-align: right;
    padding-right: 30px;
    margin-right: 5%;
}

.user .menu ul {
    list-style: none;
    padding: 0;
}

.user .info {
    width: 80%;
    text-align: center;
}

.user .info .gradient-border {
    margin-bottom: 30px;
}

.user .info .body, .user .info .avatar-select {
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    background: #FFF;
}

.user .info .body>div, .user .info .avatar-crop>div, .user .info .avatar-select>div {
    margin: 30px;
}

.user .info .title {
    margin-top: 0 !important;
    color: #3CA6C7;
}

.user .info .avatar, .user .info .data, .user .info .notification, .user .info .title {
    position: relative;
    z-index: 100;
}

.user .info .avatar {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border: 3px solid #3CA6C7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.user .info .notification a {
    text-decoration: none;
    color: #3CA6C7;
    font-weight: bold;
    transition: all 0.5s linear;
}

.user .info .notification a:hover {
    color: #80E1FF;
}

.user .info .form {
    color: #3CA6C7;
}

.user .info .form label {
    position: relative;
}

.user .info .form h2 {
    margin-bottom: 10px;
}

.user .info .form label {
    display: block;
    width: 400px;
    margin: 25px auto 0;
    text-align: center;
}

.user .info .form label span {
    font-size: 12px;
    text-transform: uppercase;
}

.user .info .form .sex>span {
    display: block;
    margin-top: 30px;
}

.user .info .form .sex label {
    margin: 10px 10px 0;
    display: inline-block;
    width: inherit;
}

.user .info .form .input, .user .info .form .button {
    border: none;
    outline: none;
    background: none;
}

.user .info .form .input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid #3CA6C7;
    text-align: center;
}

.user .info .form .button {
    display: block;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
    color: white;
    font-size: 15px;
}

.user .info .form textarea {
    resize: none;
}

.user .info .avatar-crop #image {
    display: none;
}

.user .info .avatar-select .file-upload {
    position: relative;
    margin: 0 auto !important;
}

.user .info .avatar-select .file-upload input[type="file"] {
    display: none;
}

.user .info .avatar-select .file-upload label {
    cursor: pointer;
    margin-top: 0 !important;
}

.user .info .form .help {
    position: absolute;
    right: -25px;
    top: 25px;
    cursor: pointer;
}

.user .info .form .count {
    display: none;
    position: absolute;
    right: -25px;
    top: 60px;
}

.user .info .messages {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.user .info .messages .mes-user, .user .info .messages .mes-admin {
    display: flex;
    justify-content: space-between;
    clear: both;
    width: 45%;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #3CA6C7;
}

.user .info .messages .mes-user {
    float: right;
    text-align: left;
}

.user .info .messages .mes-admin {
    float: left;
    text-align: right;
}

.user .info .messages .avt {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
}

.user .info .messages .avt img {
    width: 100%;
}

.user .info .messages span {
    color: #80E1FF;
    font-size: 11px;
}

.user .info .messages p {
    color: white;
    font-size: 14px;
}